# Dependencies
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Backend
backend/*.exe
backend/*.db
backend/tmp/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Firebase
firebase-debug.log
.firebase/

# Build
build/
*.zip
